<h1>Liste des voitures</h1>
<!--
<div class="example-container">
  <h2>Vos voitures</h2>

  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="voitures"
    [cdkDropListConnectedTo]="[doneList]" #do not forget on drag and drop
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of voitures" cdkDrag>{{item.voiture_marque}}</div>
  </div>
</div>

<div class="example-container" style="width: 50%;">
  <h2>Voitures au garage</h2>

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
  </div>
</div>
-->

<div class="example-container" style="width: 30%;">
  <h2>Vos voitures</h2>

  <div class="example-button-container">
    <button mat-mini-fab color="primary" (click)="showAddVoiturePopUp()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="voitures"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let voiture of voitures" cdkDrag>
      <div class="item-container">
        <h3><strong>{{voiture.voiture_immatriculation}}</strong></h3>
        <p><strong>Marque : </strong>{{voiture.voiture_marque}}</p>
        <p><strong>Modele : </strong>{{voiture.voiture_modele}}</p>
        <p><strong>Couleur : </strong><i class="mdi mdi-brightness-1" [style.color]="voiture.voiture_couleur"></i></p>
      </div>
  </div>
</div>



